body {
  background-color: #313030;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#alphabetContainer {
  display: flex;
  gap: 12px;
}
.alphabetBtn {
  padding: 10px 15px;
}

.answerContainer {
  display: flex;
  gap: 20px;
}

.answerContainer {
  color: white;
  font-size: 20px;
  padding-bottom: 50px;
}

.hidden {
  visibility: hidden;
}
.revealed {
  visibility: visible;
}

.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}
